
h2.pink-text
{
    color: #FF69B4;
}

h2.black-text
{
    color: black;
}
/*-------------------- Navigation ----------------*/
.nav-link
{
    color: black;
}

.login_signup_button
{
    background-color: #FF69B4;
    border-color: black;
    border-radius: 15px;
}
/*-------------------- Best seller section ----------------*/
.best_seller_header
{
    padding-top : 10px;
    padding-bottom : 20px;
}

.best_seller_image
{
    float: left;
    text-align: right;
    width: 300px;
    height: 300px;
}

#best_seller_content
{
    margin-left: 330px; 
    margin-bottom: 10px;
}
/*-------------------- Why choose us section ----------------*/
.why_choose_us
{
    padding-top: 10px;
    text-align: center;
}
/*-------------------- Blast freeze section ----------------*/
.technology_image
{
    float: right;
    text-align: left;
    width: 400px;
    height: 300px;
}

#technology_content
{
    padding: 80px;
    margin-right: 500px;
}

.find_out_more_button
{
    background-color: #FF69B4;
    border-color: black;
    border-radius: 15px;
}
/*-------------------- As seen on section ----------------*/
.As_seen_on img
{
    width: 100px;
    height: 50px;
}

.As_seen_on
{
    padding-bottom: 40px;
    text-align: center;
}
/*-------------------- Reviews and testimonial section ----------------*/
.reviews_testimonial img
{
    width: 130px;
    height: 50px;
}

.reviews_testimonial
{
    padding-bottom: 10px;
}

/*-------------------- About us section ----------------*/
#about_us_content
{
    padding-top: 30px;
    padding-bottom: 30px;

}

article.shift_left img
{
    float: left;
    text-align: right;
    width: 400px;
    height: 300px;
}

.content-padding-right
{
    padding: 40px;
    margin-right: 400px;
}

.content-padding-left
{
    padding: 40px;
    margin-left: 400px;
}

article.shift_right img
{
    float: right;
    text-align: left;
    width: 400px;
    height: 300px;
}

/*-------------------- Product catalogue section ----------------*/
#product_catalogue h2 a
{
    text-align: center;
    color: black;
}

/*-------------------- Footer section ----------------*/
footer
{
    border-top: solid #FF69B4;
    padding-top: 10px;
    border-top: solid #FF69B4;
}

footer p
{
    text-align: center;
    font-style: italic;
    font-size: 13px; 
}

footer li a
{
    color: black;
}

#footer_navigation
{
    padding-top: 20px;
}

#footer_banner
{
    background-color: #FF69B4; 
}
