
h2.pink-text
{
    color: #FF69B4;
}

h2.black-text
{
    color: black;
}
/*-------------------- Navigation ----------------*/
.nav-link
{
    color: black;
}

.login_signup_button
{
    background-color: #FF69B4;
    border-color: black;
    border-radius: 15px;
}
/*-------------------- Best seller section ----------------*/
.best_seller_header
{
    padding-top : 10px;
    padding-bottom : 20px;
}

.best_seller_image
{
    float: left;
    text-align: right;
    width: 300px;
    height: 300px;
}

#best_seller_content
{
    margin-left: 330px; 
    margin-bottom: 10px;
}
/*-------------------- Why choose us section ----------------*/
.why_choose_us
{
    padding-top: 10px;
    text-align: center;
}
/*-------------------- Blast freeze section ----------------*/
.technology_image
{
    float: right;
    text-align: left;
    width: 400px;
    height: 300px;
}

#technology_content
{
    padding: 80px;
    margin-right: 500px;
}

.find_out_more_button
{
    background-color: #FF69B4;
    border-color: black;
    border-radius: 15px;
}
/*-------------------- As seen on section ----------------*/
.As_seen_on img
{
    width: 100px;
    height: 50px;
}

.As_seen_on
{
    padding-bottom: 40px;
    text-align: center;
}
/*-------------------- Reviews and testimonial section ----------------*/
.reviews_testimonial img
{
    width: 130px;
    height: 50px;
}

.reviews_testimonial
{
    padding-bottom: 10px;
}

/*-------------------- About us section ----------------*/
#about_us_content
{
    padding-top: 30px;
    padding-bottom: 30px;

}

article.shift_left img
{
    float: left;
    text-align: right;
    width: 400px;
    height: 300px;
}

.content-padding-right
{
    padding: 40px;
    margin-right: 400px;
}

.content-padding-left
{
    padding: 40px;
    margin-left: 400px;
}

article.shift_right img
{
    float: right;
    text-align: left;
    width: 400px;
    height: 300px;
}

/*-------------------- Product catalogue section ----------------*/
#product_catalogue h2 a
{
    text-align: center;
    color: black;
}

/*-------------------- Footer section ----------------*/
footer
{
    border-top: solid #FF69B4;
    padding-top: 10px;
    border-top: solid #FF69B4;
}

footer p
{
    text-align: center;
    font-style: italic;
    font-size: 13px; 
}

footer li a
{
    color: black;
}

#footer_navigation
{
    padding-top: 20px;
}

#footer_banner
{
    background-color: #FF69B4; 
}

.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}

.row{
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.single-cake{
    margin-top: 80px;
}

.col-2{
    flex-basis: 100%;
    margin-top: 50px;
    
}

.col-2 p{
    margin-top: -80px;
    margin-left: -435px;
    display: flex;
    white-space: nowrap;
}

.col-2 img{
    height: 500px;
    width: 350%;
    position: absolute;
    right: 110px;
    top: -40px;
    padding-left: 100px;
}

.details{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    position: absolute;
    right: 370px;
    top: 150px;
    width: 310px;
    align-items: center;
}

.details .btn{
    text-decoration: none;
}

.details h1{
    color: #333;
    font-size: 35px;
    margin-bottom: 10px;
}

.details h2{
   font-style: italic;
   font-size: 15px;
   margin-top: 15px;
}

.details h4{
    color: #333;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.quantity-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-select p{
    width: 75px;
}

.quantity-select input{
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}

.btn{
    display: inline-block;
    background: #FFB6C1;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;    
    transition: background 0.5s;
    cursor: pointer;
}

.btn:hover{
    background: #563434
}

.description{
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-top: 480px;
}

.description h3{
    color: #333;
    font-size: 25px;
    margin-bottom: -15px;
}

.checked{
    color: #FFB6C1;
}

.description h5{
    font-size: 20px;
    margin-bottom: 10px;
}



