/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 Jan 2023, 3:25:16 pm
    Author     : Halilah
*/

section h2 
{
  text-decoration-line: underline;
}

figure
{
    display: inline-block; 
}

figure img
{
    border-style: double;
    border-color: darkgray;
    border-width: 4px;
}

figcaption
{
    text-align: center;
    color: grey;
    font-style: italic;
}

footer
{
    border-top: solid darkgray;
    text-align: center;
    font-style: italic;
    font-size: 13px;
}

#popup-img
{
    width: 100%;
    border-style: double;
    border-color: darkgray;
    border-width: 5px;
    border-radius: 2px;
    box-shadow: 0 0 10px 4px black;
}


h3
{
    font-size: 32px;
    color: black;
}


h4
{
    font-size: 24px;
    color: black;
}

hr
{
    border-top: 1px solid grey;
    width:80%;
}

