/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12 Mar 2023, 3:02:40 am
    Author     : carlychow
*/

.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}

.row{
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.single-cake{
    margin-top: 80px;
}

.col-2{
    flex-basis: 120%;
    margin-top: 50px;
}

.col-2 img{
    height: 500px;
    width: 50%;
}

.details{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    position: absolute;
    right: 370px;
    top: 150px;
    width: 310px;
    align-items: center;
}

.details .btn{
    text-decoration: none;
}

.details h1{
    color: #333;
    font-size: 35px;
    margin-bottom: -10px;
}

.details h2{
   font-style: italic;
   font-size: 15px;
}

.details h4{
    color: #333;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}

.quantity-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-select p{
    width: 75px;
}

.quantity-select input{
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}

.btn{
    display: inline-block;
    background: #FFB6C1;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;    
    transition: background 0.5s;
    cursor: pointer;
}

.btn:hover{
    background: #563434
}

.description{
    flex-basis: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description h3{
    color: #333;
    font-size: 25px;
    margin-bottom: -15px;
}

.checked{
    color: #FFB6C1;
}

.description h5{
    font-size: 22px;
    margin-bottom: -10px;
}

